<!DOCTYPE html>
<html>
    <head>
        <title>Panuwat </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <style media="screen">
            body{
                background:white;
                color:orangered;
                padding: 30px
            }
            h1,h2{
                    text-align: center
            }
            p{
                    text-align: center
            }
        </style>
    </head>
    <body>
        <h1> Configuration</h1>
        <h2> Database: MySQL,Sqlite3</h2>
        <% include nav.ejs %>

    </body>
</html>